@media screen and (max-width: 480px) {

    header {
        display: block;
        flex-direction: column;
        justify-content: space-between;
        background-color: #050706;
        height: 300px;
    }

    .container {
        display: auto;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        background-color: #050706;
        width: 30%;
        line-height: 3px;
    }
    /*
    
  
    
    .container h1 {
        font-size: 5em;
    }
    
    .container h4 {
        font-size: 1.5em;
    }
    
    .container p {
        padding: 20px;
    }
    
    .span1:hover {
        background-color: greenyellow;
        color: black;
        padding: 5px 100px;
        border-radius: 20px 0 0 20px;
        transition: 0.7s;
        cursor: pointer;
    }
    
    .span2:hover {
        background-color: red;
        color: black;
        padding: 5px 100px;
        border-radius:  0 20px 20px 0;
        transition: 0.7s;
        cursor: pointer;
    }
    
    nav {
        display: flex;
        flex-direction: column;
        align-items: end;
        padding-right: 10px;
        background-color: #050706;
        width: 20%;
    }
    
    nav ul {
        list-style-type: none;    
    }
    
    nav ul li {
        align-items: end;
        
    }
    
    nav ul li a {
        display: block;
        text-decoration: none;
        color: white;
        padding: 20px;
        border-radius: 20px 0 0 20px;
        transition: 0.7s;
        cursor: pointer;
    }
    
    a:hover {
        background-color: white;
        color: black;
        padding: 20px;
    }*/

}

@media screen and (max-width: 760px) {
    body > header {
        display: block;
        flex-direction: column;
        justify-content: space-around;
    }

    .container {
        display: block;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        background-color: #050706;
        width: 100vw;
        line-height: 3px;
    }
    
    .container h1 {
        font-size: 3em;
    }
    
    .container h4 {
        font-size: .7em;
    }
    
    .container p {
        padding: 20px;
    }
    
    .span1:hover {
        background-color: greenyellow;
        color: black;
        padding: 5px 100px;
        border-radius: 20px 0 0 20px;
        transition: 0.7s;
        cursor: pointer;
    }
    
    .span2:hover {
        background-color: red;
        color: black;
        padding: 5px 100px;
        border-radius:  0 20px 20px 0;
        transition: 0.7s;
        cursor: pointer;
    }
    
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 10px;
        background-color: #050706;
        width: 100vw;
    }
    
    nav ul {
        list-style-type: none;    
    }
    
    nav ul li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    }
    
    nav ul li a {
        display: flex;
        text-decoration: none;
        color: white;
        padding: 20px;
        border-radius: 20px 0 0 20px;
        transition: 0.7s;
        cursor: pointer;
    }
    
    a:hover {
        background-color: white;
        color: black;
        padding: 20px;
    }
}