:root {
    --cor1: #ff005b;
    --cor2: #c1c0ae;
    --cor3: #5cacc4;

}

body {
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

header {
    background-color: greenyellow;
    display: flex;
    flex-direction: row;
    justify-content: ;
    height: 300px;
    /*background-color: #050706;*/
}

.logo {
    width: 30%;
}
.logo img {
    background-color: red;
    width: 400px;
    height: 300px;
    padding-left: -30px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 10px;
    background-color: #050706;
    width: 20%%;

}

nav ul {
    list-style-type: none;    
}

nav ul li {
    align-items: end;
    
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding-top: 20px;
    padding-right: 20px;
}

a:hover {
    background-color: white;
    color: black;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: #050706;
    width: 60%;
    line-height: 3px;
}

.container h1 {
    font-size: 5em;
}

.container h4 {
    font-size: 1.5em;
}