:root {
    --cor1: #ff005b;
    --cor2: #c1c0ae;
    --cor3: #5cacc4;

}

body {
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #050706;
    height: 100px;

    text-align: center;
}

.logo img {
    width: 470px;
    height: 370px;
}

nav {
    background-color: #050706;
    width: 60%;

}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    align-items: end;
    text-decoration: none;
    margin: 20px;
    align-items: end;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: #050706;
}