:root {
    --cor1: #ff005b;
    --cor2: #c1c0ae;
    --cor3: #5cacc4;

}

body {
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    align-items: end;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}